
body {
  text-align: center;
}

p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
}

h1, h2, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h3 {
    font-family: "Montserrat";
}


#title{
  background-color: #fffcf5;
}

#title .container-fluid {
  padding: 3% 15% 15%;
  text-align: left;
}

.title-gif{
  border-radius: 100%;
  position: absolute;
  left: 60%;
}

.nav-item {
  padding: 0 13px;
}

.navbar{
  padding-bottom: 5rem;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
}

.row{
  padding-top: 5rem;
}

.download-button {
  margin: 8% 3% 5% 0;
}


#features .container-fluid {
  padding: 3% 15% 9%;
  background-color: #a7aec2;
}

.icon{
  color: #081e5e;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0b2983;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

#views .container-fluid {
  padding: 5% 15% 5%;
  background-color: #fffcf5;
}

#webgl-login .container-fluid{
  padding: 3% 15% 7%;
  background-color: #a7aec2;
}

.webgl-text {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-right: 2%
}

.webgl-logo{
  width: 400px;
  height: 74px;
  margin-top: 4%;
  margin-left: 40%;
}

.webgl-button{
  margin: 5% 50% 0 0;
}

#footer .contain-fluid{
  background-color: #fff;
  padding: 3% 15% 7%;
}
